[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = https://github.com/owulveryck/hugo-bootstrap
[submodule "static/js/MathJax"]
	path = static/js/MathJax
	url = https://github.com/mathjax/MathJax.git
