[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper
[submodule "themes/hugo-theme-blueberry-detox"]
	path = themes/hugo-theme-blueberry-detox
	url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox.git
[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = https://github.com/owulveryck/hugo-bootstrap
[submodule "js/MathJax"]
	path = js/MathJax
	url = https://github.com/mathjax/MathJax.git
